#main {
  * {
    background: rgba(125,125,125,0.3);
    padding: 10px;
    margin: 10px;
  }
  ul {
    width: 500px;
    li {
      width: 300px;
    }
  }

  span, i {
    display: inline-block;
  }
}
/*
*
*
* добавлять свои стили ниже этого места
*/


